<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    // TODO: link css style sheet here
</head>
<body>
    <form method="post">
        <label name="beginyear">Begin Year</label>
        <input name="beginyear"/>

        <label name="endyear">End Year</label>
        <input name="endyear"/>

        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>